html, body {
	background: url(../img/line-tile.png) #262c33;
	color: white;
	font-family: sans-serif;
}

body {
	overflow-y: scroll;
}

a {
	color: white;
	text-decoration: none;
	opacity: .9;
	transition: opacity .5s;
}

a:hover {
	opacity: 1;
}

.header a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 3em;
}

.header img {
	height: 50px;
	vertical-align: text-top;
}

.content {
	margin: 1em 3em 1em 3em;
	text-align: center;
}

.content .left, .content .right {
	display: inline-block;
	vertical-align: top;
}

.content .left {
	text-align: right;
}

.content .right {
	text-align: left;
}

.post-about {
	margin-left: 1em;
	font-weight: bold;
	line-height: 1.5;
}

.post-about h1 {
	margin-top: 0;
	margin-bottom: .1em;
}

.post-about .download {
	padding: 1em 2em;
	font-size: 1.5em;
	display: inline-block;
	background: white;
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #2d2d2d;
	font-weight: bold;
	text-decoration: none;
	opacity: .8;
	transition: .5s;
}

.post-about .download:hover {
	opacity: 1;
}

.select-platform a {
	display: inline-block;
	text-decoration: none;
	color: #2d2d2d;
	font-weight: bold;
	cursor: pointer;
	background: white;
	opacity: .8;
	border-radius: 3px;
	margin-right: .5em;
	padding: 5px 10px;
	transition: .5s;
}

.select-platform a.active {
	opacity: 1;
}

.posts {
	margin-top: 1em;
}

.post {
	float: left;
	margin: 1em;
	width: 17em;
	height: 17em;
	cursor: pointer;
}

.post .title {
	background: rgba(0,0,0,.8);
	height: 100%;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: .5s;
	display: table;
}

.post:hover .title {
	opacity: 1;
}

.post a {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	font-size: 2em;
	padding-left: .5em;
	padding-right: .5em;
	color: white;
	text-decoration: none;
}