* {
	outline: none !important;
	word-wrap: break-word !important;
	word-break: break-all;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	background: url(../img/line-tile.png) #262c33;
	color: white;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	overflow-y: scroll;
}

a {
	color: white;
	text-decoration: none;
	opacity: .9;
	transition: opacity .5s;
}

a:hover {
	opacity: 1;
}

.clearfix {
	clear: both;
}

.wrapper {
	min-height: 100%;
}

.header a {
	padding-top: 10px;
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 3em;
	opacity: 1;
}

.header img {
	height: 1em;
	vertical-align: text-top;
}

.content {
	margin-top: 1em;
	padding-bottom: 3em;
	text-align: left;
}

.content .left, .content .right {
	display: inline-block;
	vertical-align: top;
}

.content .left {
	text-align: right;
}

.content .right {
	text-align: left;
}

.post-thumb {
	width: 50%;
}

.post-thumb img {
	max-width: 100%;
}

.post-about {
	margin-left: 1em;
	font-weight: bold;
	line-height: 1.5;
}

.post-about h1 {
	margin-top: 0;
	margin-bottom: .1em;
}

.post-about .download {
	padding: 1em 2em;
	font-size: 1.5em;
	display: inline-block;
	background: white;
	border-radius: 5px;
	margin-top: .5em;
	margin-bottom: 1em;
	color: #2d2d2d;
	font-weight: bold;
	text-decoration: none;
	opacity: .8;
	transition: .5s;
}

.post-about .download:hover {
	opacity: 1;
}

.post-about .play {
	display: inline-block;
	width: 172px;
	height: 60px;
	background: url(../img/play.png) no-repeat;
	background-size: 100%;
	margin-top: 1em;
}

.select-platform {
	line-height: 2em;
	text-align: center;
}

.select-platform a {
	display: inline-block;
	text-decoration: none;
	color: #2d2d2d;
	font-weight: bold;
	cursor: pointer;
	background: white;
	opacity: .7;
	border-radius: 5px;
	margin-right: .5em;
	margin-bottom: .5em;
	padding: 0 10px;
	line-height: 1.7em
	transition: .5s;
}

.select-platform a.active {
	opacity: 1;
}

.posts {
	margin-top: 1em;
	text-align: center;
}

.post {
	background: white;
	background-size: 100%;
	background-size: cover;
	border-radius: 6px;
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 17em;
	height: 17em;
	cursor: pointer;
	overflow: hidden;
}

.post .title {
	background: rgba(0,0,0,.8);
	border-radius: inherit;
	height: 100%;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: .5s;
	display: table;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.post:hover .title {
	opacity: 1;
}

.touch .post .title {
	opacity: .9;
}

.post a {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	font-size: 2em;
	padding-left: .5em;
	padding-right: .5em;
	color: white;
	text-decoration: none;
}

.footer {
	position: relative;
	top: -2em;
	text-align: center;
	background: #454545;
	height: 2em;
	line-height: 2em;
}

.footer img {
	height: 1em;
	vertical-align: text-top;
}

.footer .separator {
	opacity: .2;
}

@media (max-width: 40em) {
	.content {
   	
   }

   .posts {
   	margin-left: .5em;

   }

	.post {
   	width: 10em;
   	height: 10em;
   	margin-right: .5em;
   	margin-bottom: .5em;
   }
}

@media (max-width: 22em) {
	img {
		max-width: 100% !important;
	}

   .header a {
   	font-size: 1.8em;
   }

   .post {
   	width: 17em;
   	height: auto;
   	max-width: 100%;
   	background-position: center center;
   }

.post a {
  padding-top: 1em;
  padding-bottom: 1em;
}

   .content {
   	text-align: center;
   }

   .post-thumb {
   	width: auto;
   	max-width: 100%;
   	text-align: center;
   }

   .post-about {
   	margin-left: 0;
   	text-align: center !important;
   	margin-top: .5em;
   }
}
