---
title: Androist Themes
layout: page
---

<div class="select-platform">
	<a class="platform">All</a>
	{% for platform in site.platforms %}
	<a class="platform" data-platform="{{platform}}">{{platform}}</a>
	{% endfor %}
</div>

<div class="posts">

{% for post in site.posts %}
	<div class="post" data-platform="{{post.platform}}" style="background: url({{post.thumb}}) no-repeat; background-size: 100%">
		<div class="title">
			<a href="{{post.url}}">{{post.title}}</a>
		</div>
	</div>
{% endfor %}

</div>