---
layout: page
---

<div class="left post-thumb">
	<img src="{% if page.bigthumb %}{{page.bigthumb}}{% else %}{{page.thumb}}{% endif %}">
</div>
<div class="right post-about">
	<h1>{{page.title}}</h1>
	{% if page.author_url %}
	author: <a href="{{page.author_url}}" target="_blank">{{page.author}}</a><br>
	{% else %}
	author: {{page.author}}<br>
	{% endif %}
	platform: {{page.tags | join: ","}}<br>
	{% if page.download %}
	<a href="{{page.download}}" class="download" target="_blank">Download</a><br>
	{% endif %}
	{% if page.play %}
	<a href="https://play.google.com/store/apps/details?id={{page.play}}" class="play" target="_blank"></a><br>
	{% endif %}
</div>